@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(Images/Desert.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

header {
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-1 {
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

.list-2, .list-3 {
  display: none;
}

.list-1 {
  list-style: none;
}

.list-1 li {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 10px;
}

.list-1 li a {
  color: white;
  text-decoration: none;
  position: relative;
}

.list-1 li a:hover {
  background-color: blue;
  border: 1px solid blue;
  border-radius: 25px;
  padding: 10px 23px;
}

.drop-1:hover .list-2{
  display: block;
  position: absolute;
}

.list-2 {
  background: white;
  /* color: black; */
  border: 1px solid white;
  border-radius: 25px;
  margin-top: 10px;
  width: 215px;
}

.list-2 li a {
  color: black;
  /* background-color: blue; */

}

.drop-1:hover .list-2 ul{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}