@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  color: white;
  background-image: url(https://images.unsplash.com/photo-1628927012157-5dcfc9dff5df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  padding: 50px 10px;
  font-size: 1.5rem;
}

#description {
  font-style: italic;
}

.form {
  background: rgba(62, 221, 62, 0.4);
  padding: 20px 50px;
  width: 60%;
  border-radius: 10px;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 7px 0;
}

#name,
#email,
#number,
#dropdown,
#features {
    width: 100%;
    margin-right: 1.125rem;
    height: 40px;
    border-radius: 5px;
    border: none;
}

input::-webkit-input-placeholder {
    font-size: 1rem;
    line-height: 3;
    padding-left: 10px;
}

#suggestions {
    border-radius: 5px;
    padding-left: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: rgb(62, 179, 62);
    cursor: pointer;
}

#check,
#rad {
    font-size: 1.25rem;
    padding: 10px;
}
