@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main-heading {
    text-align: center;
    margin: 4vh 0;
    font-size: 3em;
    /* text-align: right; */
}

form {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4vh 0; */
}

.form-1 {
    border: 3px solid black;
    width:fit-content;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result {
    text-align: right;
}

.display {
    padding-bottom: 10px;
}

button {
    align-items: center;
    text-align: center;
    /* width: 20px; */
    /* height: 20px; */
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 25px;
    background-color: orange;
    cursor: pointer;
}